/*
	BEM
*/
/*
    Centralize rapidamente qualquer elemento dentro de seu pai. Requer width ou max-width definido.
*/
/*
	Controla todos os Zindexs
*/
.cardPosts {
  background: white;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(50, 50, 90, 0.1);
  break-inside: avoid-column;
  overflow: hidden; }
  .cardPosts__image img {
    display: block;
    max-width: 100%; }
  .cardPosts__content p {
    padding: 10px;
    font-family: sans-serif;
    color: #6B7C93;
    font-size: .875em;
    line-height: 1.4em; }

html, body {
  width: 100%;
  min-height: 100%;
  position: relative;
  background-color: #FCFCFC; }

body {
  padding: 0 0 70px 250px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; }
  @media only screen and (max-width: 1023px) {
    body {
      padding: 0 0 0 0; } }

.contentManual {
  position: relative;
  padding-top: 64px; }

.section {
  max-width: 1200px;
  margin: 0 auto;
  column-count: 5; }

.contentPost {
  height: auto; }
  .contentPost:before, .contentPost:after {
    content: " ";
    display: table; }
  .contentPost:after {
    clear: both; }

.light-white {
  background-color: #fff; }

.page-footer {
  background-color: #65b6f9 !important;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 13px;
  height: 70px;
  left: 0;
  padding-left: 246px;
  z-index: 1; }
  .page-footer .footer-copyright {
    background-color: transparent; }

.headerManual {
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  padding-left: 249px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; }
  .headerManual nav {
    padding: 0 .75rem; }
  .headerManual.active {
    padding-left: 0; }
  .headerManual__menu {
    color: #333;
    font-size: 24px;
    width: 25px;
    height: 62px;
    float: left;
    cursor: pointer;
    display: none; }
    @media only screen and (max-width: 1023px) {
      .headerManual__menu {
        display: block; } }
  @media only screen and (max-width: 1023px) {
    .headerManual {
      padding-left: 0; } }

nav.menuLeft {
  width: 250px;
  height: auto;
  background-color: transparent;
  border: 0;
  box-shadow: none; }

ul.menuLeft__list {
  width: 100%;
  height: auto; }
  ul.menuLeft__list li {
    float: none; }
    ul.menuLeft__list li a {
      color: #fff;
      display: block;
      width: 100%; }

.sidebar {
  border: 0;
  background-color: #05a9f4;
  position: fixed;
  top: 0;
  left: 0px;
  bottom: 1px;
  width: 250px;
  height: auto;
  overflow: hidden;
  padding-bottom: 0;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  z-index: 2; }
  @media only screen and (max-width: 1023px) {
    .sidebar {
      left: -250px; } }
  .sidebar.active {
    left: -250px; }

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%; }

.logo {
  margin: 0 auto;
  width: 220px;
  height: 190px; }
  .logo img {
    width: 100%;
    height: 100%;
    margin: 0 auto; }
